/*
MovieStack main style
*/


/* SETUP */

body {
    margin:0;
    padding:0;
    background:#000000;
    color:white;
}
body, th, td {
    font:12px/1.4em Verdana,sans-serif;
}
#container {
    position:relative;
    min-width:55em;
    max-width:100em;
}

/* LINKS */

a {text-decoration: none;
  }
a img {border: none;
      }
a:link, a:visited {
    color:#ffc757;
}





